/*article*/
.article-content{
	word-break:break-all;
}
/*author*/
.comment .author{
	display: table-cell;
}
.comment .author img{
	width:50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
/*content*/
.comment .content{
	display: table-cell;
	width: 100%;
}
.comment .content .author-title{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px
}
.comment .content .time{
	font-size: 10px;
	color: gray;
	text-align: right;
}
/*button*/
.btn.liked{
    background: orange;
}
