/*html*/
html{
	/*for footer to stay at bottom*/
	height: 100%;
}
/*navbar*/
.navbar{
	font-family: NotoSansDemilight,"Microsoft JhengHe","微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-header .navbar-brand{
	font-weight: bold;
	color: #000000;
}
.fa-heart{
	color: red;
}
/*body*/
body{
	/*for footer to stay at bottom*/
	position: relative;
	padding-bottom: 6em;
	min-height: 100%;
	font-family: NotoSansDemilight,"Microsoft JhengHe","微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgba(155,145,128,0.22);
}
/*container*/
@media screen and (min-width: 1400px){
	.container{
		width: 1350px;
	}
}
/*footer*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #555;
	color: white;
	padding: 15px;
	margin-top: 20px;
}
/*inner in column*/
.inner{
	/*background: #E0E0E0;*/
	border : 10px solid transparent;
}
/*border*/
.no-border{
	border: 0;
}
/*text*/
.text-bold{
	font-weight: bold;
}
.text-large{
	font-size: 28px;
}
@media screen and (max-width: 768px){
	.text-large{
		font-size: 20px;
	}	
}
.text-super-large{
	font-size: 63px;
}
@media screen and (max-width: 1100px){
	.text-super-large{
		font-size: 48px;
	}
}
@media screen and (max-width: 768px){
	.text-super-large{
		font-size: 36px;
	}
}

/*line*/
.underline{
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.underline-lightgray{
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
}
/*link*/
a.cancel-decoration{
	/*color: black;*/
}
a.cancel-decoration:hover{
	text-decoration: none;
}
a.cancel-decoration:visited{
	text-decoration: none;
}
a.cancel-decoration:active{
	text-decoration: none;
}
a.cancel-decoration:link{
	text-decoration: none;
}
/*display*/
.hidden{
	display: none;
}
/*position*/
.pull_left{
	float: left;
}
.pull-right{
	float: right;
}
.put-center{
	text-align: center;
}
/*custom effect*/
.slide{
	display: none;
}
.active-shine{
	animation-name:active-shine;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes active-shine{
	0%{
		background: rgba(51, 122, 183, 0.48);
		color: gold
	}
	50%{
		background: #337ab7;
		color: goldenrod;
	}
	100%{
		background: rgba(51, 122, 183, 0.48);
		color: gold
	}
}
/*c-alert*/
.c-alert{
	padding: 8px;
	margin-bottom: 1em;
	border-radius: 4px;
}
.c-alert-danger{
	color: red;
	background: rgba(241, 195, 195, 0.46);
}
.c-alert-success{
	color: green;
	background: rgba(165, 236, 157, 0.29);
}
/*c-list-group-item*/
.c-list-group-item{
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
