.previewContainer {
    /*position: relative;*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

#profileImg {
    display: block;
    width: 100%;
}

.jcrop-holder {
    max-width: 100%;
    margin: auto;
}

@media screen and (max-width: 768px){
    .jcrop-holder {
        max-width: 100%;
        margin: auto;
        overflow-x: scroll;
    }
}

.jcrop-tracker {
    max-width: 100%;
}

.list-group a {
    display: block;
    color: #636567;
}

[class*="col-"] {
    padding-bottom: 15px;
}

