<!DOCTYPE html>
<html>
<head>
	<title>Article</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- font-awesom -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- common css -->
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="css/article.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- bootstrap javascript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- common javascript -->
	<script type="text/javascript" src="scripts/common.js"></script>
	<!-- custom javascript -->
	<script type="text/javascript" src="scripts/article.js"></script>
</head>
<body>
	<!-- navigation bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#homeNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#"><i class="fa fa-heart"></i> 一起來晚餐吧!</a>
			</div>
			<div class="collapse navbar-collapse" id="homeNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="home.html"><span class="glyphicon glyphicon-home"></span> 首頁</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> 關於</a></li>
					<li><a href="profile.html"><span class="glyphicon glyphicon-user"></span>申請帳號</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- main container -->
	<div class="container">
		<!-- main article -->
		<div class="row">
			<div class="panel panel-info">
				<!-- panel heading -->
				<div class="panel-heading">
					<!-- title -->
					<h2>第一次跟女生吃飯</h2>
				</div>
				<!-- panel body -->
				<div class="panel-body">
					<p>分類 : <span>餐後心情</span>&nbsp&nbsp&nbsp&nbsp 發表時間 : <span>2015/12/22 , 11:32PM</span></p>
					<span>煞氣a小明</span></p>
					<p class="underline-lightgray"></p>
					<div class="article-content" >
						<p>第一次跟女生吃飯，我感到了溫暖</p>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<p>太爽了</p>
					</div>
				</div>
				<div class="panel-footer" style="text-align:center">
					<div class="btn-group">
						<a class="btn btn-default no-jump" data-toggle="slide" data-target="#reply-collapse" href="#"><i class="fa fa-comments"></i> 回覆</a>
						<a class="btn btn-default" href="#"><i class="fa fa-heart"></i> 喜歡</a>
						<a class="btn btn-default" href="#"><i class="fa fa-shopping-basket"></i> 收藏</a>
						<a class="btn btn-default" href="#"><i class="fa fa-th-list"></i> 清單</a>
					</div>
				</div>
			</div>
		</div>
		<!-- reply -->
		<div class="row slide" id="reply-collapse">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>我也要回覆</p>
					<p class="underline-lightgray"></p>
					<div class="comment">
						<!-- author img -->
						<div class="author">
							<img src="Lighthouse.jpg"> 
						</div>
						<!-- content -->
						<div class="content">
							<p class="author-title">煞氣a小明</p>
							<textarea style="width:100%" rows="5" placeHolder="一起來討論吧..."></textarea>
						</div>
						<button class="btn btn-info pull-right" style="margin-top:15px">確定送出</button>
					</div>
				</div>
			</div>
		</div>
		<!-- comments -->
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-info">
					<div class="panel-body">
						<p>回覆</p>
						<p class="underline-lightgray"></p>
						<!-- comment -->
						<div class="comment" >
							<!-- author img -->
							<div class="author">
								<img src="flower.jpg"> 
							</div>
							<!-- content -->
							<div class="content">
								<p class="author-title">BWS 夠狂</p>
								<p>真是為你感到開心阿小明</p>
								<p>我的吃完晚餐後就沒下文了QQ</p>
								<p class="time">2015/12/22 ,11:33PM</p>
								<p class="underline-lightgray"></p>
							</div>
						</div>
						<!-- comment -->
						<div class="comment" >
							<!-- author img -->
							<div class="author">
								<img src="Penguins.jpg"> 
							</div>
							<!-- content -->
							<div class="content">
								<p class="author-title">電機狂人</p>
								<p>下次可以去活大自助餐吃吃看!</p>
								<p>我推薦:)</p>
								<p class="time">2015/12/22 ,11:35PM</p>
								<p class="underline-lightgray"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<footer class="container-fluid text-center">
		<p>&copy 2015 Dating</p>
	</footer>
</body>
</html>
